# --- Base de Android Studio ---
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# --- Capa de Seguridad Extra (Recomendado) ---
*.keystore
*.jks
*.pepk
google-services.json
